@model IEnumerable<KudoCinema.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@Html.ActionLink("New customer", "New", new { Controller = "Customer" }, new { @class = "btn btn-primary" })
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(@item.Name, "Edit", "Customer", new { id = item.Id }, null)
                </td>
                <td>@item.MembershipType.Name</td>
            </tr>
        }

    </tbody>
</table>